* {
    font-family: Verdana;
}

QWidget {
}

QPushButton:enabled, QLineEdit:enabled, QSpinBox:enabled {
}
QPushButton:disabled, QLineEdit:disabled, QSpinBox:disabled {
}
QPushButton:focus, QLineEdit:focus, QSpinBox:focus {
}

QDialog {
}

QPushButton {
    text-align: left;
    border: none;
    padding:  4px 12px 4px 12px;
    border-radius: 6px;
}

QSpinBox, QLineEdit {
    border-radius: 3px;
}

QTabWidget::pane {
}

QTabBar::tab {
    padding: 4px;
    border-radius: 2px;
}

QTabBar::tab:selected {
    margin-bottom: -1px;
    margin-top: 1px;
}

/*
  All QLine instances must be written here since that tag is broken
*/
#line_1, #line_2, #line_3, #line_4, #line_5, #line_6 {
}