QPushButton {
    text-align: left;
    border: none;
    padding:  4px 12px 4px 12px;
    border-radius: 6px;
}

QSpinBox, QLineEdit {
    border-radius: 3px;
}

QTabBar::tab {
    padding: 4px;
    border-radius: 2px;
}

QTabBar::tab:selected {
    margin-bottom: -1px;
    margin-top: 1px;
}