/*//////////////////////////////*/
/* SHARED CSS AMONG ALL THEMES */
/*//////////////////////////////*/

QSpinBox {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 2px;
}
QSpinBox::up-button, QSpinBox::down-button {
    width: 16px;
    height: 12px;
    /*subcontrol-origin: padding;*/
    /*subcontrol-position: center right;*/
}
QSpinBox::up-arrow {
    /*image: url(icon://angle-up-solid.svg);*/
    /*image: url(icon:/angle_up_icon.png);*/
}

/*QSpinBox::down-arrow {*/
/*    !*image: url(icon://angle-down-solid.svg);*!*/
/*    image: url(icon:/angle_down_icon.png);*/
/*}*/

/*QSpinBox {*/
/*    padding-right: 15px; !* make room for the arrows *!*/
/*    border-image: url(:/images/frame.png) 4;*/
/*    border-width: 3;*/
/*}*/

/*QSpinBox::up-button {*/
/*    subcontrol-origin: border;*/
/*    subcontrol-position: top right; !* position at the top right corner *!*/

/*    width: 16px; !* 16 + 2*1px border-width = 15px padding + 3px parent border *!*/
/*    border-image: url(:/images/spinup.png) 1;*/
/*    border-width: 1px;*/
/*}*/

/*QSpinBox::up-button:hover {*/
/*    border-image: url(:/images/spinup_hover.png) 1;*/
/*}*/

/*QSpinBox::up-button:pressed {*/
/*    border-image: url(:/images/spinup_pressed.png) 1;*/
/*}*/

/*QSpinBox::up-arrow {*/
/*    !*image: url(:/images/up_arrow.png);*!*/
/*    image: url(:/angle-down-solid.svg);*/

/*    width: 7px;*/
/*    height: 7px;*/
/*}*/

/*QSpinBox::up-arrow:disabled, QSpinBox::up-arrow:off { !* off state when value is max *!*/
/*   image: url(:/images/up_arrow_disabled.png);*/
/*}*/

/*QSpinBox::down-button {*/
/*    subcontrol-origin: border;*/
/*    subcontrol-position: bottom right; !* position at bottom right corner *!*/

/*    width: 16px;*/
/*    border-image: url(:/images/spindown.png) 1;*/
/*    border-width: 1px;*/
/*    border-top-width: 0;*/
/*}*/

/*QSpinBox::down-button:hover {*/
/*    border-image: url(:/images/spindown_hover.png) 1;*/
/*}*/

/*QSpinBox::down-button:pressed {*/
/*    border-image: url(:/images/spindown_pressed.png) 1;*/
/*}*/

/*QSpinBox::down-arrow {*/
/*    image: url(:/images/down_arrow.png);*/
/*    width: 7px;*/
/*    height: 7px;*/
/*}*/

/*QSpinBox::down-arrow:disabled,*/
/*QSpinBox::down-arrow:off { !* off state when value in min *!*/
/*   image: url(:/images/down_arrow_disabled.png);*/
/*}*/




QPushButton {
    text-align: left;
    border: none;
    padding:  4px 12px 4px 12px;
    border-radius: 6px;
}

QSpinBox, QLineEdit {
    border-radius: 3px;
}

QTabBar::tab {
    padding: 4px;
    border-radius: 2px;
}

QTabBar::tab:selected {
    margin-bottom: -1px;
    margin-top: 1px;
}

/*//////////////////////////////*/
/* LIGHT THEME STARTS HERE */
/*//////////////////////////////*/

* {
    font-family: Verdana;
}

QDialog {
    background-color: rgb(238, 238, 238);
}

QPushButton {
    text-align: left;
    border: none;
    padding:  4px 12px 4px 12px;
    border-radius: 6px;
    color: rgb(0, 0, 0);
    background-color: rgb(116, 195, 207);
}

QPushButton:disabled, QLineEdit:disabled, QSpinBox:disabled {
    /*Make semi-transparent and grayed out*/
    background-color: rgba(0, 0, 0, 80);
    color: rgba(0, 0, 0, 130);
}

QSpinBox, QLineEdit, QTableWidget, QComboBox, QPlainTextEdit {
    border-radius: 3px;
    border: 1px solid rgb(105, 105, 105);
    color: rgb(0, 0, 0);
    background-color: rgb(218, 218, 218);
}

QComboBox QAbstractItemView {
    color: rgb(0, 0, 0);
    background-color: rgb(218, 218, 218);
}

QTabWidget::pane, QScrollArea {
    background-color: rgb(208, 208, 208);
    border: none;
    border-radius: 3px;
}

QTabBar::tab {
    background-color: rgb(201, 201, 201);
    border: 1px solid rgb(181, 181, 181);
    padding: 4px;
    border-radius: 2px;
}

QTabBar::tab:selected {
    background-color: rgb(116, 195, 207);
}

/*
  All QLine instances must be written here since that tag is broken
*/
#line_1, #line_2, #line_3, #line_4, #line_5, #line_6 {
    background-color: rgb(151, 151, 151);
}

#selectedDemoNameLabel {
    background: none;
}